<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Users management</title>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
</head>
<body>
    <div th:switch="${userList}">
        <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h1>Users</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="user: ${userList}">
                            <td th:text="${user.name}"/>
                            <td th:text="${user.email}"/>
                            <td><a th:href="@{/edit/{id}(id=${user.id})}"/>Edit</td>
                            <td><a th:href="@{/delete/{id}(id=${user.id})}"/>Delete</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    <div>
        <p><a href="/addUser"/> Add a user</p>
    </div>
</body>
</html>