<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:switch="${bookList}">

            <h2 th:case="${#lists.isEmpty(userList)}">No books received.</h2>
            <div th:case="*">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="book: ${bookList}">
                    <td th:text="${book.id}"/>
                    <td th:text="${book.title}"/>
                    <td th:text="${book.author}"/>
                    <td> <a th:href="@{/showdetails/{id} (id=${book.id})}"/>Book details</td>
                </tr>
                </tbody>
            </table>
            </div>

    </div>

    <p><a href="/addBook"/> Add a book</p>
</body>
</html>